@import '../../scss/variables/variables.scss';
@import '../../scss/mixin/mixinResponsive.scss';

.board {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-bottom: 269px;
    color: $white-color;

    @include responsive(tablet) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 120px;
        padding-left: 50px;
    }

    @include responsive(mobile) {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__content {
        max-width: 737px;

        @include responsive(tablet) {
            margin-bottom: 30px;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 75px;
        line-height: 91px;

        @include responsive(tablet) {
            font-size: 50px;
            line-height: 70px;
            margin-bottom: 30px;
        }

        @include responsive(mobile) {
            font-size: 32px;
            line-height: 39px;
        }
    }

    &__desc {
        max-width: 555px;
        font-weight: 500;
        font-size: 36px;
        line-height: 44px;
        margin-bottom: 80px;

        @include responsive(tablet) {
            font-size: 28px;
            line-height: 32px;
            margin: 0 auto;
            margin-bottom: 49px;
        }

        @include responsive(mobile) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__buttons {
        @include responsive(tablet) {
            flex-direction: column;
            display: flex;

            .btn {
                width: 215px;
                margin: 0 auto 30px;
            }
        }
    }

    &__image {
        position: relative;
        width: 662px;
        height: 487px;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
            content: '';
            position: absolute;
            width: 248px;
            height: 248px;
            right: 150px;
            top: 400px;
            background: rgba(115, 253, 170, 0.69);
            filter: blur(80px);

            
            @include responsive(mobile) {
               content: none;
            }
        }

        @include responsive(tablet) {
            width: 90%;
        }

        @include responsive(mobile) {
            height: 200px;
        }
    }
}